.custom-shape-divider-top {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
  
  
  svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 149px;
    transform: rotateY(180deg);
  }
  
  .shape-fill {
    fill: #ffdfca;
  }
}